slides > slide {
	font-family: Cantarell, CantarellRegular, sans-serif;
	color: #eeeeec;
}
slides > slide > .note {
	color: rgb(121,121,121);
}
slides > slide:not(.light) {
	background: #292929 no-repeat right top;
}
slides > slide:not(.nobackground) {
	/* banner: 234.413px, head: 124.169px */
	background-image: url(../../images/heckert_gnu_banner.svg);
	/* gradient left->right 231f20ff, 231f207f, ffffff00 
	            rgba: (35,31,32,255), (35,31,32,127), (255,255,255,0)
	   at 50% percent the middle value or at 5.6% of the head width.*/
//	background: -webkit-gradient(left, color-stop(0%, rgba(35,31,32,255)),
//									   color-stop(50%, rgba(35,31,32,127)),
//									   color-stop(100%, rgba(255,255,255,0)));
//	background: -webkit-linear-gradient(left, rgba(35,31,32,255),
//											  rgba(35,31,32,127) 50%,
//											  rgba(255,255,255,0));
//	background: -moz-linear-gradient(left, rgba(35,31,32,255),
//										   rgba(35,31,32,127) 50%,
//										   rgba(255,255,255,0));
//	background: -o-linear-gradient(left, rgba(35,31,32,255),
//										 rgba(35,31,32,127) 50%,
//										 rgba(255,255,255,0));
//	background: linear-gradient(left, rgba(35,31,32,255),
//									  rgba(35,31,32,127) 50%,
//									  rgba(255,255,255,0));
	-webkit-background-size: auto 114px;
	-moz-background-size: auto 114px;
	-o-background-size: auto 114px;
	background-size: auto 114px;
}
slides > slide:not(.nobackground):before {
	font-size: 12pt;
	content: "";
	position: absolute;
	bottom: 20px;
	left: 60px;
	background: url(../../images/Heckert_GNU_white.svg) no-repeat 0 50%;
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	-o-background-size: 30px 30px;
	background-size: 30px 30px;
	padding-left: 40px;
	height: 30px;
	line-height: 1.9;
}
slides > slide.light {
	background: #fff;
	color: #797979;
}
h2, h3 {
	color: oliveDrab;
}
a {
	color: oliveDrab;
	border-bottom: 1px solid rgba(107,142,35, 0.5);
}
a:hover {
	color: #ffc !important;
}
p.admonition {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 7px;
}
.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	background-color: rgb(252, 248, 227);
	border: 1px solid rgb(251, 238, 213);
	border-radius: 4px 4px 4px 4px;
}
.alert-info {
	//color: rgb(58, 135, 173);
	background-color: #202020;
	border-color: gray;
	font-size: 40px;
}
q.smaller {
	font-size: 35px;
	line-height: 62px;
}
.twocolumns > .left {
	float: left;
	width: 47%;
}
.twocolumns > .right {
	float: right;
	width: 50%;
}
.logoslide img {
	height: 120px;
	width: auto;
	padding: 0 20px;
}
.title-slide > hgroup > h1 {
	color: #ffc;
}
[data-config-contact] span {
	width: 145px;
}
.with-notes.popup slide {
	background: #231f20;
}
code {
	color: inherit;
}
