pre {
	background-color: #2e3436; // #202020;
}

/* Pretty print */ /* Oblivion / native */

.prettyprint .str, /* string content */
.prettyprint .atv { /* a markup attribute value */
  color: #edd400; //#ed9d13;
}
.prettyprint .kwd, /* a keyword */
.prettyprint .tag { /* a markup tag name */
  color: white; //#6ab825;
  font-style: bold;
}
.prettyprint .com { /* a comment */
  color: #888a85; //#999999;
  font-style: italic;
}
.prettyprint .lit { /* a literal value */
  color: #edd400; //#3677a9;
}
.prettyprint .pun, /* punctuation, lisp open bracket, lisp close bracket */
.prettyprint .opn,
.prettyprint .clo {
  color: #d3d7cf;
}
.prettyprint .typ, /* a type name */
.prettyprint .atn, /* a markup attribute name */
.prettyprint .dec,
.prettyprint .var { /* a declaration; a variable name */
  color: #8ae234; //#40ffff;
}
.prettyprint .pln {
  color: #729fcf; //#447fcf;
}
