pre {
	background-color: #e6e6e6;
}

/* Pretty print */ /* Oblivion */

.prettyprint .str, /* string content */
.prettyprint .atv { /* a markup attribute value */
  color: #ad7fa8;
}
.prettyprint .kwd, /* a keyword */
.prettyprint .tag { /* a markup tag name */
  color: #a40000;
  font-style: bold;
}
.prettyprint .com { /* a comment */
  color: #204a87;
  font-style: italic;
}
.prettyprint .lit { /* a literal value */
  color: #ad7fa8;
}
.prettyprint .pun, /* punctuation, lisp open bracket, lisp close bracket */
.prettyprint .opn,
.prettyprint .clo {
  color: black;
}
.prettyprint .typ, /* a type name */
.prettyprint .atn, /* a markup attribute name */
.prettyprint .dec,
.prettyprint .var { /* a declaration; a variable name */
  color: #4e9a06;
}
.prettyprint .pln {
  color: #729fcf;
}
